:root {
    --light-hl-0: #24292F;
    --dark-hl-0: #C9D1D9;
    --light-hl-1: #CF222E;
    --dark-hl-1: #FF7B72;
    --light-hl-2: #0550AE;
    --dark-hl-2: #79C0FF;
    --light-code-background: #ffffff;
    --dark-code-background: #0d1117;
}

@media (prefers-color-scheme: light) { :root {
    --hl-0: var(--light-hl-0);
    --hl-1: var(--light-hl-1);
    --hl-2: var(--light-hl-2);
    --code-background: var(--light-code-background);
} }

@media (prefers-color-scheme: dark) { :root {
    --hl-0: var(--dark-hl-0);
    --hl-1: var(--dark-hl-1);
    --hl-2: var(--dark-hl-2);
    --code-background: var(--dark-code-background);
} }

body.light {
    --hl-0: var(--light-hl-0);
    --hl-1: var(--light-hl-1);
    --hl-2: var(--light-hl-2);
    --code-background: var(--light-code-background);
}

body.dark {
    --hl-0: var(--dark-hl-0);
    --hl-1: var(--dark-hl-1);
    --hl-2: var(--dark-hl-2);
    --code-background: var(--dark-code-background);
}

.hl-0 { color: var(--hl-0); }
.hl-1 { color: var(--hl-1); }
.hl-2 { color: var(--hl-2); }
pre, code { background: var(--code-background); }
